$textSize: calc(12px + .75vw);
section {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-size: $textSize;
    > article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid darkgray;
        > div {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        > div:nth-child(2) {
            width: 15%;
            justify-content: space-evenly;
        }
    }  
    > div {
        width: 95%;
        display: flex;
        justify-content: end;
    }
}
.bouton {
    padding: .75vw 1.25vw;
    color: white;
    background-color: #007bfe;
    border-radius: 5px;
    > a {
        font-weight: bold;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1400px) {
    $textSize: calc(12px + .75vw);
    section {
        width: 60%;
        font-size: $textSize;
    }    
}
@media screen and (max-width: 800px) {
    section {
        width: 90%;
    }    
}